@import '_variables.scss';
@import '_mixin.scss';

.header {  
  &__container {
    position: relative;
    z-index: 2;
    padding: 24px 53px 24px 256px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 25px 25px;
  }

  &__main-list {
    display: flex;
    max-width: 792px;
  }

  &__list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    @include clearListStyles;
  }

  &__list-item:nth-child(4) {
    margin-right: 203px;
  }
  
  &__list-item {
    margin-right: 87px;
  }

  &__list-item-btn {
    display: none;
  }

  &__list-item-link {
    @include hoverLink;
    @include focusLink;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $colorWhite;
  }

  &__list-item-link:focus:not(:active)::after {
    opacity: 1;
    transform: translateY(140%);
    outline: none;
  }

  &__list-item-link:not(:focus)::after {
    transition-duration: 0.0000001s;
  }

  &__list-item-link:focus {
    outline: none;
  }

  &__list-item-link:hover::before {
    opacity: 1;
    transform: translateY(140%);
  } 
  
  &__list-item-link:not(:hover)::before {
    transition-duration: 0.0000001s;
  }

  &__list-item-link:active {
    color: $colorGrayUltraLight;
  }

  &__list-item-link:active::before {
    background-color: $colorWhite;
  }

  &__logo {
    margin-right: 60px;
  }

  &__logo-start {
    transition: fill .2s ease-in-out;
  }

  &__logo-end {
    transition: fill .2s ease-in-out;
  }

  &__logo-svg:hover &__logo-start {
    fill: $colorWhite;
  }

  &__logo-svg:hover &__logo-end {
    fill: $colorPurpleLight;
  }

  &__logo-svg:focus {
    outline: none;
  }

  &__logo-item {
    position: relative;
  }

  &__logo-item:focus {
    outline: none;
  }
  
  &__logo-item:focus &__logo-start {
    fill: $colorPurpleLight;
  }

  &__logo-item:focus &__logo-end {
    fill: $colorPurpleLight;
  }

  &__mobile {
    display: flex;
    margin-left: auto;
  }

  &__list-svg {
    @include clearListStyles;
    display: flex;
    align-items: center;
  }

  &__svg-mob {
    display: none;
  }

  &__list-svg-item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    @include clearButtonStyles;
  }

  &__popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -100%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $colorGrayLight;
    background-image: url(../img/header/background-image-burger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
  }.open {
    left: 0;
  }

  &__popup-button {
    padding: 12px 50px;
    max-width: 259px;
    min-height: 44px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: $colorDark;
    border: solid 1px transparent;
    border-radius: 25px;
    background-color: $colorWhite;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  }.open &__popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__popup-button:active {
    background-color: transparent;
    border-color: $colorWhite;
    color: $colorWhite;
  }

  &__popup &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  &__popup &__list > &__list-item > &__list-item-link {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__popup &__list > &__list-item > &__list-item-link::before {
    opacity: 0;
  }

  &__popup &__list > &__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  &__burger.active &__item:nth-child(2) {
    opacity: 0;
  }

  &__burger.active &__item:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  &__burger.active &__item:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.toggle-button {
  @include clearButtonStyles;
  position: relative;
  display: flex;
  align-items: center;
  width: 44px;
  height: 24px;
  background-color: $colorWhite;
  border-radius: 50vw;
  transition: transform .2s linear;
  
  &::before {
    content:    '';
    position: absolute;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: $colorGrayLight;
    border-radius: 50%;
    transition: transform .2s linear;
  }

  &_active {
    background-color: #444;

    &::before {
      background-color: $colorDark;
      transform: translateX(16px);
    }
  }
}