@import '_variables.scss';
@import '_mixin.scss';

.top-wrapper {
  position: relative;
  z-index: 0;
  max-width: $containerMaxWidth;
  margin: 0 auto;
  margin-bottom: 56px;

  &__background {
    position: absolute;
    top: -100px;
    left: 50%;
    z-index: -1000;
    max-width: 100%;
    width: $containerMaxWidth;
    height: 70%;
    transform: translateX(-50%);
    overflow: hidden;
    background-color: $colorGrayLight;
    border-radius: 0px 0px 25px 25px;
  }
}


.section-hero {
  position: relative;
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1000;
    max-width: 100%;
    min-height: 100%;
    background-color: $colorGrayLight;
    border-radius: 0px 0px 25px 25px;
  }

  &__container {
    padding: 114px 0 45px 256px;
  }

  &__block-image {
    position: absolute;
    top: -25%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    display: flex;
    align-items: center;
    height: 125%;
  }

  &__obj {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__obj-left {
    border-bottom-left-radius: 25px;
    max-width: 158px;
    background-image: url(../img/hero/hero-obj-left.svg);
  }

  &__obj-right {
    margin-left: auto;
    border-bottom-right-radius: 25px;
    max-width: 779px;
    background-image: url(../img/hero/hero-obj-right.svg);
  }

  &__heading-official {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &__block-title {
    max-width: max-content;
  }

  &__transfer {
    display: block;
  }

  &__heading {
    @include titleReset; 
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    color: $colorWhite;
  }

  &__text {
    @include textReset;
    margin-left: auto;
    margin-bottom: 134px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: $colorWhite;
  }

  // &__button {
  //   padding: 12px 50px;
  //   max-width: 259px;
  //   min-height: 44px;
  //   font-weight: 400;
  //   font-size: 19px;
  //   line-height: 24px;
  //   color: $colorDark;
  //   border: solid 1px transparent;
  //   border-radius: 20px;
  //   background-color: $colorWhite;
  //   transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
  // }
  
  &__button {
    @include btnHover;
    padding: 12px 50px;
    max-width: 259px;
    min-height: 44px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 19px;
    color: $colorWhite;
    transition: color .4s ease-in-out, opacity .3s ease-in-out;
  }
  
  &__button span {
    position: absolute;
    // display: block;
    top: 67px;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $colorWhite;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  &__button:hover {
    color: $colorDark;
  }
  
  &__button:hover span {
    width: 225%;
    height: 562.5px;
  }
  
  &__button:active {
    // background-color: rgba($color: #fff, $alpha: .4);
    opacity: .4;
  }

  // &__list-item-link:focus:not(:active) {
  //   color: $colorWhite;
  //   outline: none;
  // }

  // &__button:focus {
  //   background-color: transparent;
  //   border-color: $colorWhite;
  //   color: $colorWhite;
  //   outline: none;
  // }

  // &__button:hover {
  //   border-color: $colorWhite;
  //   background-color: transparent;
  // }

  // &__button:active {
  //   color: $colorWhite;
  // }
}