@media (max-width: 1214px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
    // padding: 0 25px 0 25px;
  }

  .header {
    &__container {
      padding: 24px 25px 24px 25px;
      // padding: 114px 0 45px 256px;
    }

    &__list-item:not(:last-child) {
      margin-right: 35px;
    }
  }

  .about {
    &__container {
      padding: 0;
    }

    &__obj-left {
      display: none;
    }
  }

  .content-top {
    display: flex;
    margin-bottom: 11px;
    margin-left: auto;
    padding: 18px 10px 11px 0;
    border-radius: 25px;

    &__image {
      display: none;
    }
  }

  .content-middle {
    margin-right: 0;
  }

  .mobile-block {
    display: flex;
  }

}

@media (max-width: 1024px) {
  .header {
    &__container {
      flex-direction: column;
    }

    &__main-list {
      display: none;
    }

    &__list-item:last-child {
      margin-right: 0;
    }

    &__list-item-btn {
      display: flex;
    }
    
    &__logo {
      margin: 0 auto;
    }

    &__list-svg {
      margin-left: 0;
    }

    &__mobile {
      width: 100%;
    }

    &__list-svg {
      margin-left: auto;
    }
  }
  
  .burger {
    display: block;
    margin: auto 0;
  }

  .top-wrapper {
    &__background {
      top: -130px;
    }
  }

  .section-hero {
    padding-top: 40px;
      &__block-image {
        top: -30%;
        height: 130%;
      }

      &__obj-right {
        display: none;
      }
  }

}

@media (max-width: 718px) {
 .section-hero {
    &__obj-left {
      max-width: 183px;
    }

    &__text {
      margin-bottom: 214px;
      margin-left: 0;
    }

    &__button {
      display: flex;
      margin: 0 auto;
    }
  }

  .about {
    padding-top: 38px;
    padding-bottom: 30px;

    &__heading {
      margin-bottom: 30px;
      padding-right: 0;
      font-size: 20px;
      line-height: 19px;
    }
  }

  .content-middle {
    &__points {
      display: inline;
    }

    &__link {
      display: none;
    }

    &__link-mobile {
      display: inline;
      margin-top: auto;
      margin-left: auto;
      color: $colorGrayUltraLightLink;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 9px 36px 17px 36px;
  }
  
  .header {
    &__list-svg-item:not(:last-child) {
      margin-right: 0;
    }

    &__logo-svg {
      width: 80px;
      height: 22px;
    }

    &__svg {
      display: none;
    }

    &__svg-mob {
      display: block;
    }
  }

  .top-wrapper {
    margin-bottom: 32px;
  }

  .section-hero {
    &__obj-left {
      max-width: 133px;
    }

    &__heading {
      font-size: 23px;
      line-height: 32px;
    }

    &__text {
      font-size: 19px;
    }

    &__button {
      padding: 12px 45px;
    }
  }

  .about {
    &__container {
      padding: 0;
    }
  }

  .content-middle {
    padding: 15px 22px;
    max-width: 100%;
    min-height: 152px;

    &__text {
      font-size: 12px;
      line-height: 14px;
    }

    &__link-mobile {
      font-size: 10px;
      line-height: 12px;
    }
  }
}