@media (max-width: 1813px) {
  .content-top__image {
    width: 145%;
  }
  
  .content-middle {
   margin-right: 0;
  }

  .bottom-block {
    &__container {
      padding: 71px 66px 0 345px;
    }

    &__obj-left {
      max-width: 71%;
    }

    &__obj-right {
      display: none;
    }

    &__content-bottom {
      margin-left: auto;
      padding-left: 0;
      padding-right: 62px;
    }
  }

  .slider__navigation {
    right: 18px;
  }
}

@media (max-width: 1214px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .header {
    &__container {
      padding: 24px 25px 24px 25px;
    }

    &__list-item:not(:last-child) {
      margin-right: 35px;
    }
  }

  .about {
    &__container {
      padding: 0;
    }

    &__obj-left {
      display: none;
    }
  }

  .content-top {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 700px;
    padding: 20px 25px 20px 214px;
    border-radius: 25px;

    &__image {
      display: none;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 45px;
    }

    &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 45px;
    }
  }

  .content-middle {
    margin: 0 auto;
    margin-bottom: 84px;
  }

  .mobile-block {
    display: flex;
  }

  .content-bottom {
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .block-left {
    display: none;
  }

  .block-right {

    &__svg {
      width: 100px;
      height: 100px;
    }

    &__svg-item {
      fill: $colorDark;
    }

    &__link {
      color: $colorDark;
    }
  }

  .contacts {

    &__main-container {
      padding: 0;
    }
  }

  .top-block {

    &__container {
      padding: 81px 0 157px 0;
    }

    &__obj-left {
      max-width: 157px;
    }
  }

  .bottom-block {
    &__obj-left {
      display: none;
    }

    &__obj-right {
      display: flex;
      max-width: 88%;
    }

    &__content-bottom {
      padding-left: 0;
      margin-left: 0;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__container {
      flex-direction: column;
    }

    &__main-list {
      display: none;
    }

    &__list-item:last-child {
      margin-right: 0;
    }

    &__list-item-btn {
      display: flex;
    }
    
    &__logo {
      margin: 0 auto;
    }

    &__list-svg {
      margin-left: 0;
    }

    &__mobile {
      width: 100%;
    }

    &__list-svg {
      margin-left: auto;
    }
  }
  
  .burger {
    display: block;
    margin: auto 0;
  }

  .portfolio {
    background-color: #E9E9E9;
    border-radius: 25px;
  }

  .top-wrapper {
    &__background {
      top: -130px;
    }
  }

  .section-hero {
    padding-top: 40px;
      &__block-image {
        top: -30%;
        height: 130%;
      }

      &__obj-right {
        display: none;
      }
  }

  .top-block {
    margin-bottom: 10px;

    &__container {
      padding: 36px 37px 0 37px;
    }

    &__block-image {
      height: 248%;
    }

    
    &__obj-left {
      max-width: 100%;
      background-image: url(../img/portfolio/portfolio-bottom-left-mob.svg);
      border-top-left-radius: 25px;
    }
  
    &__obj-right {
      display: none;
    }

    &__image {
      width: 100%;
      margin: 0 auto;
    }
  }

  .content-right {
    display: none;
  }

  .bottom-block {
    &__container {
      padding: 0 0 27px 0;
      background-color: transparent;
    }

    &__block-image {
      display: none;
    }

    &__top-content {
      padding-right: 34px;
      padding-left: 34px;
    }

    &__content-bottom {
      padding-left: 0;
      margin-left: 0;
      // margin-right: auto;
      // padding-right: 62px;
    }
    

    &__content {
      margin-bottom: 32px;
      padding: 21px 14px 27px 20px;
      background-color: rgba(34, 34, 34, 0.1);
      border-radius: 0 10px 10px 0;
    }

    &__list {
      margin: 0;
      padding: 0;
      display: none;
    }

    &__slider {
      margin-bottom: 17px;
    }

    &__button {
      display: block;
      // justify-content: center;
      margin-right: 0;
      margin: 0 auto;
      padding: 12px 49px;
      max-width: 262px;
      min-height: 56px;
      background-color: $colorWhite;
      border-radius: 25px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $colorDark;
    }
  }

  .list-reset {
    display: flex;
  }

  .mobile-block {  
    // &__content {
    //   flex-wrap: wrap;
    // }
  }

}

@media (max-width: 718px) {
 .section-hero {
    &__container {
      padding: 37px 36px 45px 36px;
    }

    &__obj-left {
      max-width: 183px;
    }

    &__text {
      margin-bottom: 152px;
      margin-left: 0;
    }

    &__button {
      display: flex;
      margin: 0 auto;
    }
  }

  .modal {
    &__obj-right {
      display: none;
    }
  }

  .about {
    padding-top: 38px;
    padding-bottom: 30px;

    &__heading {
      margin-bottom: 30px;
      padding-right: 0;
      font-size: 24px;
      line-height: 19px;
    }
  }

  .content-middle {
    margin-bottom: 52px;

    &__points {
      display: inline;
    }

    &__link {
      display: none;
    }

    &__link-mobile {
      display: inline;
      margin-top: auto;
      margin-left: auto;
      color: $colorGrayUltraLightLink;
    }
  }

  .mobile-block {
    &__image {
      bottom: 68px;
    }

    &__list {
      padding: 10px;
    }

    &__list-item:not(:last-child) {
      margin-right: 15px;
    }
  
    &__number {
      font-size: 20px;
      line-height: 15px;
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 45px;
    }
  }

  .top-block {
    &__container {
      padding: 21px 37px 0 37px;
    }

    &__heading {
      margin-bottom: 24px;
      font-weight: 300;
      font-size: 25px;
      line-height: 23px;
    }

    &__image {
      min-height: 234px;
    }
  }

  .slider {
    position: relative;
    padding: 35px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    &__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      
    }
  }

  .contacts {
    &__heading {
      margin-bottom: 14px;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
    }

    &__obj-left {
      display: none;
    }

    &__obj-right {
      margin-left: auto;
      border-top-right-radius: 25px;
      max-width: 603px;
      background-image: url(../img/contacts/contacts-mob.svg);
    }

    &__list-item-text {
      min-width: 88px;
    }

    &__text-reset {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 25px 36px 17px 36px;
  }
  
  .header {
    &__list-svg-item:not(:last-child) {
      margin-right: 0;
    }

    &__logo-svg {
      width: 80px;
      height: 22px;
    }

    &__svg {
      display: none;
    }

    &__svg-mob {
      display: block;
    }
  }

  .toggle-button {
    
    &::before {
      background-image: url(../img/header/mob-header-svg.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }
  
    &_active {
      &::before {
        background-image: url(../img/header/mob-header-svg-dk.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
      }
    }
  }

  .top-wrapper {
    margin-bottom: 32px;
  }

  .section-hero {
    padding-top: 0;
    &__container {
      padding: 32px 36px 32px 36px;
    }

    &__obj-left {
      max-width: 133px;
    }

    &__heading {
      font-size: 25px;
      line-height: 32px;
    }

    &__text {
      font-size: 23px;
    }

    &__button {
      padding: 12px 49px;
    }
  }

  .modal {
    &__heading {
      font-size: 25px;
    }
  }

  .about {
    &__container {
      padding: 0;
    }
  }

  .content-top {
    margin-bottom: 16px;
    padding: 12px 12px 10px 88px;
    max-width: 330px;

    &__text {
      font-size: 13px;
      line-height: 24px;
    }

    &__link {
      font-size: 13px;
      line-height: 24px;
    }
  }

  .content-middle {
    margin-bottom: 20px;
    padding: 15px 22px;
    max-width: 100%;
    min-height: 152px;

    &__text {
      margin-bottom: 15px;
      font-size: 19px;
      line-height: 32px;
    }

    &__link-mobile {
      font-size: 19px;
      line-height: 32px;
    }
  }

  .top-block {
    &__container {
      padding: 21 37px 0 37px;
    }
  }

  .block-right {
    &__svg {
      width: 80px;
      height: 80px;
    }

    &__svg-last {
      margin-left: auto;
      width: 40px;
    }

    &__top-list-item:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .mobile-block {
    min-height: 115px;
    &__text {
      font-size: 10px;
      line-height: 17px;
    }

    &__list-item:not(:last-child) {
      margin-right: 8px;
  }

    &__image-right {
      margin: auto 0;
      justify-content: center;
      align-items: center;
      max-width: 127px;
      min-height: 135px;
    }

    &__image {
      min-height: 220px;
      height: 100%;
      bottom: 42px;
  }
  }


  .bottom-block {
    &__container {
      padding: 20px 0 21px 0;
    }

    &__content-bottom {
      padding-right: 54px;
    }

    &__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 17px;
      color: $colorDark;
    }
  }

  .list-reset {
    max-width: 227px;
  }

  .btn-reset {
    font-size: 14px;
  }

  .contacts {
    &__main-container {
      padding: 0;
    }

    &__container {
      padding-right: 23px;
      padding-left: 23px;
    }

    &__list {
      padding: 20px 31px;
    }

    &__list-item:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .footer {
    .footer__container {
      padding: 18px 0;
    }
  }
}