@import '_variables.scss';

@mixin clearListStyles {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin textReset {
  margin: 0;
  padding: 0;
  max-width: max-content;
}

@mixin titleReset {
  font-family: 'Radiotechnika';
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   z-index: 2;
  //   top: 100%;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   background-color: $colorWhite;
  //   width: calc(100%);
  //   height: 2px;
  // }
}

@mixin clearButtonStyles {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin hoverLink {
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 115%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $colorPurpleLight;
    width: calc(100%);
    height: 2px;
    opacity: 0;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  }
}

@mixin focusLink {
  &:after {
    content: '';
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    width: calc(100% + 6px);
    height: calc(100% + 8px);
    -webkit-transform: translate(-50%, -50%) scaleX(0);
    -ms-transform: translate(-50%, -50%) scaleX(0);
    transform: translate(-50%, -50%) scaleX(0);
    background-color: $colorPurpleLight;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}

// @mixin highlighting {
//   &::selection {
//     background: $colorPurple;
//     color: black;
//     text-shadow: none;
//   }
  
//   &::-moz-selection {
//     background: $colorPurple;
//     color: $colorWhite;
//     text-shadow: none;
//   }
// }
