@font-face {
  font-family: "UniSans";
  src: local("UniSansLight"), url("../fonts/UniSansLight.woff2") format("woff2"), url("../fonts/UniSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansBook"), url("../fonts/UniSansBook.woff2") format("woff2"), url("../fonts/UniSansBook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Radiotechnika";
  src: local("Radiotechnika"), url("../fonts/Radiotechnika.woff2") format("woff2"), url("../fonts/Radiotechnika.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansRegular"), url("../fonts/UniSansRegular.woff2") format("woff2"), url("../fonts/UniSansRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansSemiBold"), url("../fonts/UniSansSemiBold.woff2") format("woff2"), url("../fonts/UniSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansBold"), url("../fonts/UniSansBold.woff2") format("woff2"), url("../fonts/UniSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "UniSans", sans-serif, Arial, Helvetica;
  background-color: #FFF;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body.noscroll {
  position: fixed;
  z-index: -1;
  overflow-y: scroll;
}

input {
  font-family: "UniSans", sans-serif, Arial, Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 50px 0 50px;
  max-width: 1813px;
  border-radius: 25px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: none;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__block-image {
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  height: 125%;
}
.modal__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal__obj-left {
  border-bottom-left-radius: 10px;
  max-width: 108px;
  background-image: url(../img/modal/image-left.svg);
}
.modal__obj-right {
  margin-left: auto;
  border-bottom-right-radius: 10px;
  max-width: 411px;
  background-image: url(../img/modal/image-right.svg);
}
.modal__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7E84A3;
  margin: auto;
  padding: 22px;
  width: 713px;
  max-width: 100%;
  min-height: 622px;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal__heading {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #FFF;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  margin-right: auto;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 63px;
  line-height: 27px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
}

.input-reset {
  padding: 10px 77px;
  width: 100%;
  max-width: 600px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: solid 1px transparent;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 360px;
  width: 100%;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__list-item:not(:last-child) {
  margin-bottom: 21px;
}
.form__list-item:last-child {
  margin-bottom: 28px;
}
.form__label {
  position: relative;
}
.form__text {
  padding: 9px 71px 15px 71px;
  max-width: 600px;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
}
.form__image {
  position: absolute;
  top: 0;
  left: 18px;
}
.form__text-image {
  position: absolute;
  top: -165px;
  left: 18px;
}
.form__select-item {
  cursor: pointer;
}
.form__check-label {
  color: #FFF;
  cursor: pointer;
}
.form__check-label:hover .form__visible-checkbox {
  border-color: #FFF;
}
.form__check-label:hover .form__check-text {
  color: #FFF;
}
.form__visually-hidden {
  position: absolute;
  z-index: 100;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.form__visible-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: 1px solid #FFF;
  width: 25px;
  height: 25px;
  transition: border-color 0.3s ease;
}
.form__visible-checkbox::before {
  content: "";
  position: absolute;
  top: 1%;
  left: -37%;
  transform: rotate(45deg);
  width: 12px;
  height: 16px;
  margin-left: 60%;
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form__checkbox:checked ~ .form__visible-checkbox {
  background-color: rgba(172, 0, 145, 0.11);
}
.form__checkbox:checked ~ .form__visible-checkbox::before {
  opacity: 1;
}
.form__checkbox:focus ~ .form__visible-checkbox {
  background-color: rgba(172, 0, 145, 0.11);
}
.form__checkbox:focus ~ .form__visible-checkbox::before {
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
.form__check-text {
  vertical-align: middle;
  transition: color 0.3s ease;
}
.form__checkbox:checked ~ .form__check-text {
  color: #FFF;
}
.form__checkbox:focus ~ .form__check-text {
  color: #D64BC0;
}
.form__btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  padding: 12px 79px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px transparent;
  border-radius: 10px;
}

.header__container {
  position: relative;
  z-index: 2;
  padding: 24px 53px 24px 256px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 25px 25px;
}
.header__main-list {
  display: flex;
  max-width: 792px;
}
.header__list {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__list-item:nth-child(4) {
  margin-right: 203px;
}
.header__list-item {
  margin-right: 87px;
}
.header__list-item-btn {
  display: none;
}
.header__list-item-link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}
.header__list-item-link:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -56%;
  bottom: 0;
  right: -23px;
  background-color: #D9D9D9;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}
.header__list-item-link:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -56%;
  bottom: 0;
  right: -23px;
  background-color: #D9D9D9;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}
.header__list-item-link:focus:not(:active) {
  color: #D9D9D9;
  opacity: 0.4;
  outline: none;
}
.header__list-item-link:focus {
  outline: none;
}
.header__list-item-link:hover::before {
  opacity: 1;
  transform: translateY(140%);
}
.header__list-item-link:not(:hover)::before {
  transition-duration: 0.0000001s;
}
.header__list-item-link:active {
  color: #D9D9D9;
}
.header__list-item-link:active::before {
  background-color: #FFF;
}
.header__logo {
  margin-right: 60px;
}
.header__logo-start {
  transition: fill 0.2s ease-in-out;
}
.header__logo-end {
  transition: fill 0.2s ease-in-out;
}
.header__logo-svg:hover .header__logo-start {
  fill: #FFF;
}
.header__logo-svg:hover .header__logo-end {
  fill: #D64BC0;
}
.header__logo-svg:focus {
  outline: none;
}
.header__logo-item {
  position: relative;
}
.header__logo-item:focus {
  outline: none;
}
.header__logo-item:focus .header__logo-start {
  fill: #D64BC0;
}
.header__logo-item:focus .header__logo-end {
  fill: #D64BC0;
}
.header__mobile {
  display: flex;
  margin-left: auto;
}
.header__list-svg {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__svg-mob {
  display: none;
}
.header__list-svg-item:not(:last-child) {
  margin-right: 20px;
}
.header__btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.header__popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #7E84A3;
  background-image: url(../img/header/background-image-burger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.header .open {
  left: 0;
}
.header__popup-button {
  padding: 12px 50px;
  max-width: 259px;
  min-height: 44px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  border: solid 1px transparent;
  border-radius: 25px;
  background-color: #FFF;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.open .header__popup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header__popup-button:active {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}
.header__popup .header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.header__popup .header__list > .header__list-item > .header__list-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header__popup .header__list > .header__list-item > .header__list-item-link::before {
  opacity: 0;
}
.header__popup .header__list > .header__list-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 40px;
}
.header__burger.active .header__item:nth-child(2) {
  opacity: 0;
}
.header__burger.active .header__item:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header__burger.active .header__item:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.toggle-button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 44px;
  height: 24px;
  background-color: #FFF;
  border-radius: 50vw;
  transition: transform 0.2s linear;
}
.toggle-button::before {
  content: "";
  position: absolute;
  left: 4px;
  width: 20px;
  height: 20px;
  background-color: #7E84A3;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.toggle-button_active {
  background-color: #444;
}
.toggle-button_active::before {
  background-color: #000;
  transform: translateX(16px);
}

.burger {
  display: none;
  flex-direction: column;
  margin-right: auto;
  width: 30px;
  height: 30px;
}
.burger__item {
  position: relative;
  display: block;
  z-index: 1000;
  width: 30px;
  height: 3px;
  background-color: #FFF;
  border-radius: 25px;
  transition: 0.2s;
}
.burger :not(:first-child) {
  margin: 6px auto;
}

.top-wrapper {
  position: relative;
  z-index: 0;
  max-width: 1813px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.top-wrapper__background {
  position: absolute;
  top: -100px;
  left: 50%;
  z-index: -1000;
  max-width: 100%;
  width: 1813px;
  height: 70%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #7E84A3;
  border-radius: 0px 0px 25px 25px;
}

.section-hero {
  position: relative;
}
.section-hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  max-width: 100%;
  min-height: 100%;
  background-color: #7E84A3;
  border-radius: 0px 0px 25px 25px;
}
.section-hero__container {
  padding: 114px 0 45px 256px;
}
.section-hero__block-image {
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  height: 125%;
}
.section-hero__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-hero__obj-left {
  border-bottom-left-radius: 25px;
  max-width: 158px;
  background-image: url(../img/hero/hero-obj-left.svg);
}
.section-hero__obj-right {
  margin-left: auto;
  border-bottom-right-radius: 25px;
  max-width: 779px;
  background-image: url(../img/hero/hero-obj-right.svg);
}
.section-hero__heading-official {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section-hero__block-title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.section-hero__transfer {
  display: block;
}
.section-hero__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #FFF;
}
.section-hero__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-bottom: 134px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFF;
}
.section-hero__button {
  position: relative;
  display: block;
  flex-direction: column;
  border: 1px solid #FFF;
  overflow: hidden;
  padding: 12px 50px;
  max-width: 259px;
  min-height: 44px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 19px;
  color: #FFF;
  transition: color 0.4s ease-in-out, opacity 0.3s ease-in-out;
}
.section-hero__button span {
  position: absolute;
  top: 67px;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #FFF;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.section-hero__button:hover {
  color: #000;
}
.section-hero__button:hover span {
  width: 225%;
  height: 562.5px;
}
.section-hero__button:active {
  opacity: 0.4;
}

.about {
  position: relative;
  z-index: 0;
  max-width: 1813px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding-top: 95px;
  padding-bottom: 69px;
  background-image: url(../img/about/bg-about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.about__container {
  padding: 0;
}
.about__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  padding-right: 245px;
  font-weight: 400;
  font-size: 37px;
  line-height: 36px;
  color: #000;
}
.about__block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.about__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__obj-left {
  position: relative;
  z-index: 1;
  max-width: 630px;
  border-bottom-left-radius: 25px;
}
.about__obj-right {
  margin-left: auto;
  border-top-right-radius: 25px;
  max-width: 335px;
  background-image: url(../img/about/svg/about-svg-right.svg);
}

.content-top {
  position: relative;
  display: flex;
  margin-right: auto;
  margin-bottom: 46px;
  padding: 20px 25px 20px 379px;
  max-width: 1540px;
  background-color: #FFF;
  border-radius: 0 25px 25px 0;
}
.content-top__image {
  margin-top: -6px;
  margin-right: 40px;
  margin-bottom: -37px;
  margin-left: auto;
  background-image: url(../img/about/about-image-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 443px;
  width: 100%;
  min-height: 202px;
  height: 100%;
}
.content-top__block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 626px;
}
.content-top__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 27px;
  line-height: 43px;
}
.content-top__link {
  margin-left: auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(34, 34, 34, 0.5);
}

.content-middle {
  position: relative;
  margin-left: auto;
  margin-right: 181px;
  margin-bottom: 84px;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  max-width: 885px;
  min-height: 345px;
  background-color: #FFF;
  border-radius: 25px;
}
.content-middle__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  color: #000;
}
.content-middle__button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: rgba(34, 34, 34, 0.5);
}
.content-middle__button-close {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: rgba(34, 34, 34, 0.5);
}
.content-middle__link-mobile {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: auto;
  margin-left: auto;
  color: rgba(34, 34, 34, 0.5);
  display: none;
}
.content-middle__text-addition {
  display: none;
}
.content-middle .active {
  display: inline;
}
.content-middle .disabled {
  display: none;
}

.content-bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 25px 170px 19px 60px;
  background-color: #7E84A3;
  border-radius: 25px 0 0 25px;
  max-width: 1294px;
  min-height: 147px;
}

.block-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-left__list-item:not(:last-child) {
  margin-right: 50px;
}
.block-left__list-item:last-child {
  margin-right: 89px;
}
.block-left__list-number {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
  padding-left: 38px;
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
}
.block-left__list-text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}

.block-right {
  display: flex;
  flex-direction: column;
}
.block-right__top-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-right__bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-right__top-list-item {
  margin-bottom: 21px;
}
.block-right__top-list-item:not(:last-child) {
  margin-right: 50px;
}
.block-right__bottom-list-item:first-child {
  margin-right: auto;
}
.block-right__link {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}
.block-right__link::before {
  content: "";
  position: absolute;
  top: 115%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #D64BC0;
  width: 100%;
  height: 2px;
}

.mobile-block {
  display: none;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 100%;
  min-height: 233px;
}
.mobile-block__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 100%;
  flex-direction: column;
}
.mobile-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10px 0 10px;
  max-width: 100%;
  background-color: #7E84A3;
  border-radius: 25px 0 0 25px;
}
.mobile-block__image {
  position: absolute;
  width: 100%;
  min-height: 380px;
  height: 100%;
  bottom: 82px;
  right: 0;
}
.mobile-block__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-block__list-item:not(:last-child) {
  margin-right: 30px;
}
.mobile-block__number {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
}
.mobile-block__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}
.mobile-block__image-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/about/about-mb-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  max-width: 222px;
  min-height: 233px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.list-top {
  margin-bottom: 10px;
}

.list-bottom {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.top-block {
  margin-bottom: 56px;
}
.top-block__container {
  position: relative;
  z-index: 0;
  background-color: #E9E9E9;
  border-radius: 25px;
  padding: 81px 0 157px 0;
}
.top-block__block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  height: 100%;
}
.top-block__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-block__obj-left {
  max-width: 139px;
  min-height: 100%;
  background-image: url(../img/portfolio/portfolio-top-left.svg);
  border-bottom-left-radius: 25px;
}
.top-block__obj-right {
  margin-left: auto;
  border-bottom-right-radius: 25px;
  max-width: 755px;
  min-height: 100%;
  background-image: url(../img/portfolio/portfolio-top-right.svg);
}
.top-block__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
}
.top-block__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.top-block__image {
  width: 69.4397283531%;
  border-radius: 25px;
}

.content-right {
  width: 28.2965478212%;
  margin: 23px 0 44px 0;
  padding: 70px 69px 70px 35px;
  background-color: #7E84A3;
  border-radius: 0 25px 25px 0;
}
.content-right__heading {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFF;
}
.content-right__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  max-width: 322px;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #FFF;
}

.bottom-block {
  margin-bottom: 32px;
}
.bottom-block__container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  border-radius: 25px;
  padding: 71px 150px 0 345px;
}
.bottom-block__block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  display: flex;
  align-items: center;
  height: 100%;
}
.bottom-block__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-block__obj-left {
  max-width: 49%;
  height: 100%;
  background-image: url(../img/portfolio/portfolio-bottom-left.png);
  border-radius: 25px 0 0 25px;
}
.bottom-block__obj-right {
  margin-left: auto;
  border-radius: 0 25px 25px 0;
  max-width: 51%;
  background-image: url(../img/portfolio/portfolio-bottom-right.svg);
}
.bottom-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  padding-left: 36px;
}
.bottom-block__list-item:not(:last-child) {
  margin-right: 96px;
}
.bottom-block__list-button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}
.bottom-block__slider {
  margin-bottom: 76px;
}
.bottom-block__content-bottom {
  padding-left: 91px;
}
.bottom-block__content {
  margin-bottom: 172px;
  padding: 21px 61px 27px 38px;
  background-color: rgba(34, 34, 34, 0.1);
  border-radius: 10px;
  max-width: 760px;
  min-height: 134px;
}
.bottom-block__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.bottom-block__text:not(:last-child) {
  margin-bottom: 15px;
}
.bottom-block__button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  justify-content: flex-end;
  margin-right: 384px;
  margin-left: auto;
  padding: 12px 49px 27px 49px;
  max-width: 262px;
  min-height: 56px;
  background-color: #E8CFD6;
  border-radius: 70px 70px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.slider {
  position: relative;
  padding: 35px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.slider__navigation {
  position: absolute;
  top: 43%;
  right: 0px;
  bottom: 0;
  left: 11px;
  z-index: 2;
  display: flex;
  align-items: center;
  max-width: 1291px;
  height: 29px;
}
.slider__swiper-btn-prev {
  position: relative;
  margin-right: auto;
}
.slider__swiper-btn-next {
  position: relative;
  margin-left: auto;
}
.slider__container {
  position: relative;
}
.slider__swiper-btn {
  position: relative;
  flex-shrink: 0;
  border: none;
  width: 11px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.slider__swiper-btn:focus {
  border: 2px solid var(--color-purple-dark);
  outline: none;
}
.slider__swiper-btn:hover {
  background-color: var(--color-purple-light);
}
.slider__swiper-btn:active {
  background-color: var(--color-purple-light);
  border: 2px solid var(--color-purple-dark);
}
.slider__swiper-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 2.5px);
  right: calc(50% - 2.5px);
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  transform-origin: center;
}
.slider__swiper-btn-prev {
  margin-right: 10px;
}
.slider__swiper-btn-next::before {
  left: calc(50% - 5px);
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 1px 1px 1px 1px;
}
.slider__swiper-btn.swiper-button-disabled {
  border: none;
  outline: none;
  cursor: auto;
  filter: opacity(20%);
}
.slider__swiper-btn-prev::before {
  left: calc(50% - 2.5px);
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-radius: 1px 1px 1px 1px;
}
.slider__slider-title {
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.slider__slid-img {
  border-radius: 10px;
  transition: filter 0.3s ease-in-out;
}
.slider__slide:focus:not(:active) {
  border: 1px solid var(--color-purple);
  outline: none;
}
.slider__slide:hover .slider__slid-img {
  filter: none;
}
.slider__slide:active {
  border: 1px solid var(--color-purple);
}
.slider__slide:active .slider__slid-img {
  filter: none;
}
.slider__swiper {
  position: relative;
  width: 100%;
}
.slider__slides-container {
  margin: 0 auto;
  padding-right: 36px;
  padding-left: 36px;
  max-width: 1318px;
  overflow: hidden;
}
.slider__img {
  max-width: 390px;
  min-height: 300px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 7px 9px 7px 9px;
  background-color: #FFF;
  max-width: 500px;
  width: 100%;
  min-height: 49px;
  border-radius: 25px;
}

.top-mob {
  margin-bottom: 17px;
}

.bottom-mob {
  margin-bottom: 49px;
  margin-left: auto;
}

.btn-reset {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.item-reset {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-reset:not(:last-child) {
  margin-right: 26px;
}
.item-reset:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -12px;
  width: 2px;
  height: calc(100% + 10px);
  background-color: #D64BC0;
}

.contacts__main-container {
  padding: 0;
}
.contacts__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 46px;
  color: #000;
}
.contacts__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 184px;
  background-color: rgba(126, 132, 163, 0.72);
  border-radius: 25px 25px 0 0;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 33px 97px;
  border: solid 1px #000;
  border-radius: 10px;
}
.contacts__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacts__list-item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts__list-item-text {
  min-width: 123px;
}
.contacts__text-reset {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.contacts__block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 0.72;
}
.contacts__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__obj-left {
  max-width: 216px;
  background-image: url(../img/contacts/contacts-left.svg);
}
.contacts__obj-right {
  margin-left: auto;
  border-top-right-radius: 25px;
  max-width: 603px;
  background-image: url(../img/contacts/contacts-right.svg);
}

.footer .footer__container {
  padding: 12px 0;
  text-align: center;
  background-color: #422D57;
  border-radius: 0;
}

@media (max-width: 1813px) {
  .content-top__image {
    width: 145%;
  }
  .content-middle {
    margin-right: 0;
  }
  .bottom-block__container {
    padding: 71px 66px 0 345px;
  }
  .bottom-block__obj-left {
    max-width: 71%;
  }
  .bottom-block__obj-right {
    display: none;
  }
  .bottom-block__content-bottom {
    margin-left: auto;
    padding-left: 0;
    padding-right: 62px;
  }
  .slider__navigation {
    right: 18px;
  }
}
@media (max-width: 1214px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .header__container {
    padding: 24px 25px 24px 25px;
  }
  .header__list-item:not(:last-child) {
    margin-right: 35px;
  }
  .about__container {
    padding: 0;
  }
  .about__obj-left {
    display: none;
  }
  .content-top {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 700px;
    padding: 20px 25px 20px 214px;
    border-radius: 25px;
  }
  .content-top__image {
    display: none;
  }
  .content-top__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
  }
  .content-top__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
  }
  .content-middle {
    margin: 0 auto;
    margin-bottom: 84px;
  }
  .mobile-block {
    display: flex;
  }
  .content-bottom {
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .block-left {
    display: none;
  }
  .block-right__svg {
    width: 100px;
    height: 100px;
  }
  .block-right__svg-item {
    fill: #000;
  }
  .block-right__link {
    color: #000;
  }
  .contacts__main-container {
    padding: 0;
  }
  .top-block__container {
    padding: 81px 0 157px 0;
  }
  .top-block__obj-left {
    max-width: 157px;
  }
  .bottom-block__obj-left {
    display: none;
  }
  .bottom-block__obj-right {
    display: flex;
    max-width: 88%;
  }
  .bottom-block__content-bottom {
    padding-left: 0;
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .header__container {
    flex-direction: column;
  }
  .header__main-list {
    display: none;
  }
  .header__list-item:last-child {
    margin-right: 0;
  }
  .header__list-item-btn {
    display: flex;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__list-svg {
    margin-left: 0;
  }
  .header__mobile {
    width: 100%;
  }
  .header__list-svg {
    margin-left: auto;
  }
  .burger {
    display: block;
    margin: auto 0;
  }
  .portfolio {
    background-color: #E9E9E9;
    border-radius: 25px;
  }
  .top-wrapper__background {
    top: -130px;
  }
  .section-hero {
    padding-top: 40px;
  }
  .section-hero__block-image {
    top: -30%;
    height: 130%;
  }
  .section-hero__obj-right {
    display: none;
  }
  .top-block {
    margin-bottom: 10px;
  }
  .top-block__container {
    padding: 36px 37px 0 37px;
  }
  .top-block__block-image {
    height: 248%;
  }
  .top-block__obj-left {
    max-width: 100%;
    background-image: url(../img/portfolio/portfolio-bottom-left-mob.svg);
    border-top-left-radius: 25px;
  }
  .top-block__obj-right {
    display: none;
  }
  .top-block__image {
    width: 100%;
    margin: 0 auto;
  }
  .content-right {
    display: none;
  }
  .bottom-block__container {
    padding: 0 0 27px 0;
    background-color: transparent;
  }
  .bottom-block__block-image {
    display: none;
  }
  .bottom-block__top-content {
    padding-right: 34px;
    padding-left: 34px;
  }
  .bottom-block__content-bottom {
    padding-left: 0;
    margin-left: 0;
  }
  .bottom-block__content {
    margin-bottom: 32px;
    padding: 21px 14px 27px 20px;
    background-color: rgba(34, 34, 34, 0.1);
    border-radius: 0 10px 10px 0;
  }
  .bottom-block__list {
    margin: 0;
    padding: 0;
    display: none;
  }
  .bottom-block__slider {
    margin-bottom: 17px;
  }
  .bottom-block__button {
    display: block;
    margin-right: 0;
    margin: 0 auto;
    padding: 12px 49px;
    max-width: 262px;
    min-height: 56px;
    background-color: #FFF;
    border-radius: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }
  .list-reset {
    display: flex;
  }
}
@media (max-width: 718px) {
  .section-hero__container {
    padding: 37px 36px 45px 36px;
  }
  .section-hero__obj-left {
    max-width: 183px;
  }
  .section-hero__text {
    margin-bottom: 152px;
    margin-left: 0;
  }
  .section-hero__button {
    display: flex;
    margin: 0 auto;
  }
  .modal__obj-right {
    display: none;
  }
  .about {
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .about__heading {
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 24px;
    line-height: 19px;
  }
  .content-middle {
    margin-bottom: 52px;
  }
  .content-middle__link {
    display: none;
  }
  .content-middle__link-mobile {
    display: inline;
    margin-top: auto;
    margin-left: auto;
    color: rgba(34, 34, 34, 0.5);
  }
  .mobile-block__image {
    bottom: 68px;
  }
  .mobile-block__list {
    padding: 10px;
  }
  .mobile-block__list-item:not(:last-child) {
    margin-right: 15px;
  }
  .mobile-block__number {
    font-size: 20px;
    line-height: 15px;
  }
  .mobile-block__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
  }
  .top-block__container {
    padding: 21px 37px 0 37px;
  }
  .top-block__heading {
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 25px;
    line-height: 23px;
  }
  .top-block__image {
    min-height: 234px;
  }
  .slider {
    position: relative;
    padding: 35px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .slider__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .contacts__heading {
    margin-bottom: 14px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
  }
  .contacts__obj-left {
    display: none;
  }
  .contacts__obj-right {
    margin-left: auto;
    border-top-right-radius: 25px;
    max-width: 603px;
    background-image: url(../img/contacts/contacts-mob.svg);
  }
  .contacts__list-item-text {
    min-width: 88px;
  }
  .contacts__text-reset {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 25px 36px 17px 36px;
  }
  .header__list-svg-item:not(:last-child) {
    margin-right: 0;
  }
  .header__logo-svg {
    width: 80px;
    height: 22px;
  }
  .header__svg {
    display: none;
  }
  .header__svg-mob {
    display: block;
  }
  .toggle-button::before {
    background-image: url(../img/header/mob-header-svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  .toggle-button_active::before {
    background-image: url(../img/header/mob-header-svg-dk.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  .top-wrapper {
    margin-bottom: 32px;
  }
  .section-hero {
    padding-top: 0;
  }
  .section-hero__container {
    padding: 32px 36px 32px 36px;
  }
  .section-hero__obj-left {
    max-width: 133px;
  }
  .section-hero__heading {
    font-size: 25px;
    line-height: 32px;
  }
  .section-hero__text {
    font-size: 23px;
  }
  .section-hero__button {
    padding: 12px 49px;
  }
  .modal__heading {
    font-size: 25px;
  }
  .about__container {
    padding: 0;
  }
  .content-top {
    margin-bottom: 16px;
    padding: 12px 12px 10px 88px;
    max-width: 330px;
  }
  .content-top__text {
    font-size: 13px;
    line-height: 24px;
  }
  .content-top__link {
    font-size: 13px;
    line-height: 24px;
  }
  .content-middle {
    margin-bottom: 20px;
    padding: 15px 22px;
    max-width: 100%;
    min-height: 152px;
  }
  .content-middle__text {
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 32px;
  }
  .content-middle__link-mobile {
    font-size: 19px;
    line-height: 32px;
  }
  .top-block__container {
    padding: 21 37px 0 37px;
  }
  .block-right__svg {
    width: 80px;
    height: 80px;
  }
  .block-right__svg-last {
    margin-left: auto;
    width: 40px;
  }
  .block-right__top-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .mobile-block {
    min-height: 115px;
  }
  .mobile-block__text {
    font-size: 10px;
    line-height: 17px;
  }
  .mobile-block__list-item:not(:last-child) {
    margin-right: 8px;
  }
  .mobile-block__image-right {
    margin: auto 0;
    justify-content: center;
    align-items: center;
    max-width: 127px;
    min-height: 135px;
  }
  .mobile-block__image {
    min-height: 220px;
    height: 100%;
    bottom: 42px;
  }
  .bottom-block__container {
    padding: 20px 0 21px 0;
  }
  .bottom-block__content-bottom {
    padding-right: 54px;
  }
  .bottom-block__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #000;
  }
  .list-reset {
    max-width: 227px;
  }
  .btn-reset {
    font-size: 14px;
  }
  .contacts__main-container {
    padding: 0;
  }
  .contacts__container {
    padding-right: 23px;
    padding-left: 23px;
  }
  .contacts__list {
    padding: 20px 31px;
  }
  .contacts__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer .footer__container {
    padding: 18px 0;
  }
}/*# sourceMappingURL=style.css.map */