@font-face {
  font-family: "UniSans";
  src: local("UniSansLight"), url("../fonts/UniSansLight.woff2") format("woff2"), url("../fonts/UniSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansBook"), url("../fonts/UniSansBook.woff2") format("woff2"), url("../fonts/UniSansBook.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Radiotechnika";
  src: local("Radiotechnika"), url("../fonts/Radiotechnika.woff2") format("woff2"), url("../fonts/Radiotechnika.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansRegular"), url("../fonts/UniSansRegular.woff2") format("woff2"), url("../fonts/UniSansRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansSemiBold"), url("../fonts/UniSansSemiBold.woff2") format("woff2"), url("../fonts/UniSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UniSans";
  src: local("UniSansBold"), url("../fonts/UniSansBold.woff2") format("woff2"), url("../fonts/UniSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "UniSans", sans-serif, Arial, Helvetica;
  background-color: #FFF;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body.noscroll {
  position: fixed;
  overflow-y: scroll;
}

input {
  font-family: "UniSans", sans-serif, Arial, Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 50px 0 50px;
  max-width: 1813px;
  border-radius: 25px;
}

.header__container {
  position: relative;
  z-index: 2;
  padding: 24px 53px 24px 256px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 25px 25px;
}
.header__main-list {
  display: flex;
  max-width: 792px;
}
.header__list {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__list-item:not(:last-child) {
  margin-right: 87px;
}
.header__list-item:last-child {
  margin-right: 170px;
}
.header__list-item-btn {
  display: none;
}
.header__list-item-link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}
.header__list-item-link:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -56%;
  bottom: 0;
  right: -23px;
  background-color: #D9D9D9;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}
.header__list-item-link:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -56%;
  bottom: 0;
  right: -23px;
  background-color: #D9D9D9;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}
.header__list-item-link:focus:not(:active)::after {
  opacity: 1;
  transform: translateY(140%);
  outline: none;
}
.header__list-item-link:not(:focus)::after {
  transition-duration: 0.0000001s;
}
.header__list-item-link:focus {
  outline: none;
}
.header__list-item-link:hover::before {
  opacity: 1;
  transform: translateY(140%);
}
.header__list-item-link:not(:hover)::before {
  transition-duration: 0.0000001s;
}
.header__list-item-link:active {
  color: #D9D9D9;
}
.header__list-item-link:active::before {
  background-color: #FFF;
}
.header__logo {
  margin-right: 60px;
}
.header__logo-start {
  transition: fill 0.2s ease-in-out;
}
.header__logo-end {
  transition: fill 0.2s ease-in-out;
}
.header__logo-svg:hover .header__logo-start {
  fill: #FFF;
}
.header__logo-svg:hover .header__logo-end {
  fill: #D64BC0;
}
.header__logo-svg:focus {
  outline: none;
}
.header__logo-item {
  position: relative;
}
.header__logo-item:focus {
  outline: none;
}
.header__logo-item:focus .header__logo-start {
  fill: #D64BC0;
}
.header__logo-item:focus .header__logo-end {
  fill: #D64BC0;
}
.header__mobile {
  display: flex;
  margin-left: auto;
}
.header__list-svg {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__svg-mob {
  display: none;
}
.header__list-svg-item:not(:last-child) {
  margin-right: 20px;
}
.header__btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.header__popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #7E84A3;
  background-image: url(../img/header/background-image-burger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.header .open {
  left: 0;
}
.header__popup-button {
  padding: 12px 50px;
  max-width: 259px;
  min-height: 44px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border: solid 1px transparent;
  border-radius: 25px;
  background-color: #FFF;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.open .header__popup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header__popup-button:active {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}
.header__popup .header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.header__popup .header__list > .header__list-item > .header__list-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header__popup .header__list > .header__list-item > .header__list-item-link::before {
  opacity: 0;
}
.header__popup .header__list > .header__list-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 40px;
}
.header__burger.active .header__item:nth-child(2) {
  opacity: 0;
}
.header__burger.active .header__item:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header__burger.active .header__item:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burger {
  display: none;
  flex-direction: column;
  margin-right: auto;
  width: 30px;
  height: 30px;
}
.burger__item {
  position: relative;
  display: block;
  z-index: 1000;
  width: 30px;
  height: 3px;
  background-color: #FFF;
  border-radius: 25px;
  transition: 0.2s;
}
.burger :not(:first-child) {
  margin: 6px auto;
}

.top-wrapper {
  position: relative;
  z-index: 0;
  max-width: 1813px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.top-wrapper__background {
  position: absolute;
  top: -100px;
  left: 50%;
  z-index: -1000;
  max-width: 100%;
  width: 1813px;
  height: 40%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #7E84A3;
  border-radius: 0px 0px 25px 25px;
}

.section-hero {
  position: relative;
}
.section-hero__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  max-width: 100%;
  min-height: 100%;
  background-color: #7E84A3;
  border-radius: 0px 0px 25px 25px;
}
.section-hero__container {
  padding: 114px 0 45px 256px;
}
.section-hero__block-image {
  position: absolute;
  top: -24%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  height: 124%;
}
.section-hero__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-hero__obj-left {
  border-bottom-left-radius: 25px;
  max-width: 158px;
  background-image: url(../img/hero/hero-obj-left.svg);
}
.section-hero__obj-right {
  margin-left: auto;
  border-bottom-right-radius: 25px;
  max-width: 755px;
  background-image: url(../img/hero/hero-obj-right.svg);
}
.section-hero__heading-official {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section-hero__block-title {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.section-hero__transfer {
  display: block;
}
.section-hero__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #FFF;
}
.section-hero__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
  margin-bottom: 134px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFF;
}
.section-hero__button {
  padding: 12px 50px;
  max-width: 259px;
  min-height: 44px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border: solid 1px transparent;
  border-radius: 25px;
  background-color: #FFF;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.section-hero__list-item-link:focus:not(:active) {
  color: #FFF;
  outline: none;
}
.section-hero__button:focus {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
  outline: none;
}
.section-hero__button:hover {
  border-color: #FFF;
  background-color: transparent;
}
.section-hero__button:active {
  color: #FFF;
}

.about {
  position: relative;
  z-index: 0;
  max-width: 1813px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding-top: 95px;
  padding-bottom: 69px;
  background-image: url(../img/about/bg-about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}
.about__container {
  padding: 0;
}
.about__heading {
  font-family: "Radiotechnika";
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  padding-right: 245px;
  font-weight: 400;
  font-size: 37px;
  line-height: 36px;
  color: #000;
}
.about__block-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.about__obj {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__obj-left {
  position: relative;
  z-index: 1;
  max-width: 630px;
  border-bottom-left-radius: 25px;
}
.about__obj-right {
  margin-left: auto;
  border-top-right-radius: 25px;
  max-width: 335px;
  background-image: url(../img/about/svg/about-svg-right.svg);
}

.content-top {
  position: relative;
  z-index: 0;
  margin-right: auto;
  margin-bottom: 46px;
  padding: 20px 25px 20px 379px;
  display: flex;
  max-width: 1540px;
  background-color: #FFF;
  border-radius: 0 25px 25px 0;
}
.content-top__image {
  z-index: 10;
  margin-top: -6px;
  margin-right: 40px;
  margin-bottom: -37px;
  margin-left: auto;
  background-image: url(../img/about/about-image-top.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 443px;
  width: 100%;
  min-height: 202px;
  height: 100%;
}
.content-top__block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 626px;
}
.content-top__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 27px;
  line-height: 43px;
}
.content-top__link {
  margin-left: auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: rgba(34, 34, 34, 0.5);
}

.content-middle {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: 181px;
  margin-bottom: 84px;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  max-width: 885px;
  min-height: 345px;
  background-color: #FFF;
  border-radius: 25px;
}
.content-middle__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  color: #000;
}
.content-middle__link {
  text-decoration: underline;
  color: rgba(34, 34, 34, 0.5);
}
.content-middle__points {
  display: none;
}
.content-middle__link-mobile {
  margin-top: auto;
  margin-left: auto;
  color: rgba(34, 34, 34, 0.5);
  display: none;
}

.content-bottom {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 25px 170px 19px 60px;
  background-color: #7E84A3;
  border-radius: 25px 0 0 25px;
  max-width: 1294px;
  min-height: 147px;
}

.block-left__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-left__list-item:not(:last-child) {
  margin-right: 50px;
}
.block-left__list-item:last-child {
  margin-right: 89px;
}
.block-left__list-number {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 15px;
  padding-left: 38px;
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
}
.block-left__list-text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}

.block-right {
  display: flex;
  flex-direction: column;
}
.block-right__top-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-right__bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.block-right__top-list-item {
  margin-bottom: 21px;
}
.block-right__top-list-item:not(:last-child) {
  margin-right: 50px;
}
.block-right__bottom-list-item:first-child {
  margin-right: auto;
}
.block-right__link {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}
.block-right__link::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 115%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #D64BC0;
  width: 100%;
  height: 2px;
}

.mobile-block {
  display: none;
  justify-content: flex-end;
  margin-bottom: 30px;
  width: 100%;
  min-height: 233px;
}
.mobile-block__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 16px 0 16px 13px;
  width: 100%;
}
.mobile-block__image {
  position: absolute;
  min-height: 380px;
  height: 100%;
  bottom: 82px;
  right: 0;
}
.mobile-block__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.mobile-block__list-item:not(:last-child) {
  margin-right: 30px;
}
.mobile-block__list-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% + 100px);
  height: 100%;
  background-color: #7E84A3;
  border-radius: 25px 0 0 25px;
}
.mobile-block__number {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
}
.mobile-block__text {
  margin: 0;
  padding: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}
.mobile-block__image-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/about/about-mb-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  max-width: 222px;
  min-height: 233px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1214px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
  .header__container {
    padding: 24px 25px 24px 25px;
  }
  .header__list-item:not(:last-child) {
    margin-right: 35px;
  }
  .about__container {
    padding: 0;
  }
  .about__obj-left {
    display: none;
  }
  .content-top {
    display: flex;
    margin-bottom: 11px;
    margin-left: auto;
    padding: 18px 10px 11px 0;
    border-radius: 25px;
  }
  .content-top__image {
    display: none;
  }
  .content-middle {
    margin-right: 0;
  }
  .mobile-block {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .header__container {
    flex-direction: column;
  }
  .header__main-list {
    display: none;
  }
  .header__list-item:last-child {
    margin-right: 0;
  }
  .header__list-item-btn {
    display: flex;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__list-svg {
    margin-left: 0;
  }
  .header__mobile {
    width: 100%;
  }
  .header__list-svg {
    margin-left: auto;
  }
  .burger {
    display: block;
    margin: auto 0;
  }
  .top-wrapper__background {
    top: -130px;
  }
  .section-hero {
    padding-top: 40px;
  }
  .section-hero__block-image {
    top: -30%;
    height: 130%;
  }
  .section-hero__obj-right {
    display: none;
  }
}
@media (max-width: 718px) {
  .section-hero__obj-left {
    max-width: 183px;
  }
  .section-hero__text {
    margin-bottom: 214px;
    margin-left: 0;
  }
  .section-hero__button {
    display: flex;
    margin: 0 auto;
  }
  .about {
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .about__heading {
    margin-bottom: 30px;
    padding-right: 0;
    font-size: 20px;
    line-height: 19px;
  }
  .content-middle__points {
    display: inline;
  }
  .content-middle__link {
    display: none;
  }
  .content-middle__link-mobile {
    display: inline;
    margin-top: auto;
    margin-left: auto;
    color: rgba(34, 34, 34, 0.5);
  }
}
@media (max-width: 600px) {
  .container {
    padding: 9px 36px 17px 36px;
  }
  .header__list-svg-item:not(:last-child) {
    margin-right: 0;
  }
  .header__logo-svg {
    width: 80px;
    height: 22px;
  }
  .header__svg {
    display: none;
  }
  .header__svg-mob {
    display: block;
  }
  .top-wrapper {
    margin-bottom: 32px;
  }
  .section-hero__obj-left {
    max-width: 133px;
  }
  .section-hero__heading {
    font-size: 23px;
    line-height: 32px;
  }
  .section-hero__text {
    font-size: 19px;
  }
  .section-hero__button {
    padding: 12px 45px;
  }
  .about__container {
    padding: 0;
  }
  .content-middle {
    padding: 15px 22px;
    max-width: 100%;
    min-height: 152px;
  }
  .content-middle__text {
    font-size: 12px;
    line-height: 14px;
  }
  .content-middle__link-mobile {
    font-size: 10px;
    line-height: 12px;
  }
}/*# sourceMappingURL=style.css.map */